@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Index";
}
<div class="row no-gutters m-3">
    <div class="card col-2m-12 col-md-10 col-lg-7 mx-auto shadow">
        <div class="card-header text-center">
            <h2>Hello, Admin</h2>
        </div>
        <div class="card-body">
            <p>
                @Html.ActionLink("Create New Record", "Create", "Insuree") |  @Html.ActionLink("Back to Homepage", "Index", "Home")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quote)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Quote)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Insuree", new { id = item.Id }, null) |
                            @Html.ActionLink("Details", "Details", "Insuree", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "Insuree", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
            
